.inactive {
    color: rgba(0,0,0,0.40);
}

body {
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
    color: rgba(0,0,0,0.50);
}

md-tabs {
    overflow: hidden; /*otherwise we get a useless horizontal scrollbar*/
}

md-tab {
    padding: 8px 8px;
}

md-tooltip {
    top: 30px !important;
}

md-tabs.md-default-theme md-tabs-ink-bar {
color: rgb(255,255,255);
background: rgb(236, 116, 4);
}

md-tabs.md-default-theme .md-paginator md-icon {
 color: white;
}

/*
md-icon {
    position:absolute;
    top:15px;
    left:16px;
    width: 24px;
    height: 24px;
}
*/

a {
    color: rgba(0, 0, 0, 0.75);
}

md-content h3 {
    color: rgba(0, 0, 0, 0.75);
}

md-toolbar ul {
    margin: 8px 16px;
    padding: 0px 0px;
}
md-toolbar li {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 12px;
}

md-toolbar h1 {
    font-weight: 400;
    font-size: 30px;
}

md-toolbar h2 {
    font-weight: 400;
    font-size: 16px;
}

md-toolbar h3 {
    font-weight: 400;
    font-size: 12px;
}

.toolbarTitle {
    margin-left: 8px;
    color: white;
}

.menuBtn {

    width: 64px;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

.addBtn {
    width: 48px;
    color: white;
    background-color: white;
    background: transparent url(/icons/ic_add_48px.svg);
}

.faceUser {
    border-radius: 30px;
    border: 5px solid rgb(118, 184, 86);
    width: 48px;
    height: 48px;
    /*/background-color: rgb(0, 158, 224);*/
    background-color: rgba(118, 184, 86, 0.7);
}

.faceUserOverlay {
    position: absolute;
    margin: 6px;
    width: 48px;
    height: 48px;
    color: rgb(255, 255, 255);
}




.faceOrange {
  border-radius: 30px;
  border: 5px solid rgb(236, 116, 4);
  width: 48px;
  height: 48px;
  margin: 16px; }

.faceGreen {
  border-radius: 30px;
  border: 5px solid rgb(118, 184, 86);
  width: 48px;
  height: 48px;
  margin: 16px; }




.docs-menu {
    padding: 0;
}

.docs-menu li {
    list-style: none;
    margin: 0;
}

.docs-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.docs-menu a.md-button {
  display: block;
}

.docs-menu .md-button.active {
color: #03a9f4;
}

.docs-menu md-icon {
    margin-right:8px;
}

/*
.md-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none; }

.md-shadow-bottom-z-1, .md-button.md-raised:not([disabled]), .md-button.md-fab {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.md-shadow-bottom-z-2, .md-button.md-raised:not([disabled]):focus, .md-button.md-raised:not([disabled]):hover, .md-button.md-fab:not([disabled]):focus, .md-button.md-fab:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

.md-shadow-animated.md-shadow {
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }



.md-ripple-container {

  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1); }

.md-ripple {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0;
  border-radius: 50%; }
  .md-ripple.md-ripple-placed {
    -webkit-transition: left 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), border 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: left 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), border 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.65s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .md-ripple.md-ripple-scaled {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .md-ripple.md-ripple-active, .md-ripple.md-ripple-full, .md-ripple.md-ripple-visible {
    opacity: 0.2; }

md-tab > .md-ripple-container .md-ripple {
  box-sizing: content-box;
  background-color: transparent !important;
  border-width: 0;
  border-style: solid;
  opacity: 0.2;
  -webkit-transform: none !important;
          transform: none !important; }
  md-tab > .md-ripple-container .md-ripple.md-ripple-active, md-tab > .md-ripple-container .md-ripple.md-ripple-full, md-tab > .md-ripple-container .md-ripple.md-ripple-visible {
    opacity: 0.2; }

   */
